:root {
  font-family: Fira Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color-font);
  background-color: var(--main-color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #FAFBE4;
  --main-color-found: rgba(151, 175, 0, 1);
  --main-color-lost: rgba(255, 48, 48, 1);
  --main-color-font: #211327;
  --main-color-bg: #fafbe4;
}

a {
  font-weight: 500;
  color: var(--main-color-font);
  text-decoration: inherit;
}

a:hover {
  color: var(--main-color-found);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
  line-height: 1;
}

ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: var(--icon-space);
  display: flex;
}

li:hover{
  color: var(--main-color-found);
}

li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

button {
  border-radius: 3px;
  cursor: pointer;

  padding: 0.8em 1.2em;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition-duration: 0.1s;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #211327;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--main-color-found);
  }

  button {
    background-color: #f9f9f9;
  }
}
