@use '../utils/variables' as v;
@use '../utils/mixins' as mix;

ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: var(--icon-space);
  display: flex;
}

//li:hover{
//  color: v.$primary-color;
//}

li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}