*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.4em;
  line-height: 1;
}

/*
.element {
  color: hotpink;

  @include respond-to(small) {
    color: tomato;
  }
}
 */
:root {
  font-family: Fira Sans, sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #211327;
  background-color: #fafbe4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fafbe4;
}

#app {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 3px;
  border-width: 0;
  cursor: pointer;
  padding: 0.8em 1.2em;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.1s;
}

a {
  font-weight: 500;
  color: #211327;
  text-decoration: inherit;
}

a:hover {
  color: rgb(151, 175, 0);
}

ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: var(--icon-space);
  display: flex;
}

li:hover {
  color: rgb(151, 175, 0);
}

li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=date] {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.6em;
  box-sizing: border-box;
  outline: none;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus {
  -webkit-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}
input[type=text].no-valid,
input[type=password].no-valid,
input[type=email].no-valid,
input[type=tel].no-valid,
input[type=number].no-valid,
input[type=date].no-valid {
  border: 1px solid #e92836;
  box-shadow: 0 0 0.2em #e92836;
  outline: none;
}

/*# sourceMappingURL=main.css.map */
